<header id="main-header">
  <!-- First Row Header row -->
  <div class="row no-gutters">
    <!-- First Column -->
    <div class="col-lg-4 col-md-5 Profile-Image">
      <!-- assets/img/person1.jpg -->
      <img
        src="assets/img/Nitin1.png"
        class="bg-black center"
        alt="Nitin Piparava"
      />
    </div>

    <!-- Second column -->
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column">
        <div class="p-md-5 bg-dark text-white">
          <div
            class="d-flex flex-row justify-content-between align-items-center"
          >
            <h5 class="display-4 name-title">Nitin Piparava</h5>
            <div *ngFor="let socialProfile of socialProfiles">
              <div class="px-1">
                <a
                  [href]="socialProfile.profileLink"
                  class="text-white"
                  target="_blank"
                >
                  <i class="fab {{ socialProfile.profileBrandImg }} fa-2x"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!-- Experienced column -->
        <div class="bg-black p-4" id="subtitle">
          Experienced Mobile(iOS-Swift, React-Navtive) and Web Developer
        </div>

        <!-- Page Navigation Column -->

        <div>
          <div
            class="d-flex flex-row text-white align-items-stretch text-center"
          >
            <div
              class="port-item bg-info {{ item.colorClass }} p-4"
              *ngFor="let item of portItems"
              data-toggle="collapse"
              [routerLink]="item.route"
              routerLinkActive="active"
            >
              <i class="fas {{ item.iconImg }} fa-2x d-block"></i>
              <span class="d-none d-sm-block">{{ item.title }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
