/* a:focus,
div:active {
  outline-color: black;
  outline-width: 0.5px;
  box-shadow: 2px 2px 2px 2px black;
  outline-width: 2px;
  outline-style: solid;
} */

#subtitle {
  background-color: #000 !important;
}

.Profile-Image {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #15181b;
}
img {
  max-width: 320px;
  max-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 160px;
}

p,
div,
h1 {
  font-family: "geomanistregular", Helvetica, sans-serif;
  letter-spacing: 0.84px;
}

.port-item {
  line-height: 35px;
  text-decoration: #fff;
  line-height: 30px;
  vertical-align: top;

  word-spacing: 0px;
}

.port-item:focus {
  outline: none;
}

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

.bg-success {
  background-color: #5aa46b !important;
}

.bg-warning {
  background-color: #e3ba3f !important;
}

.bg-danger {
  background-color: #e34655 !important;
}

@media (max-width: 420px) {
  .name-title {
    font-size: 32px !important;
    padding: 1rem;
  }

  .port-item {
    padding: 1rem !important;
  }
}
