<header id="main-header">
  <!-- First Row Header row -->
  <div class="row no-gutters">
    <!-- First Column -->
    <div class="col-lg-4 col-md-5">
      <!-- assets/img/person1.jpg -->
      <img src="assets/img/Nitin.jpg" class="img-responsive" alt="" />
    </div>

    <!-- Second column -->
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column">
        <div class="p-md-5 bg-dark text-white">
          <div
            class="d-flex flex-row justify-content-between align-items-center"
          >
            <h5 class="display-4 name-title">Nitin Piparava</h5>
            <div class="px-1">
              <a
                href="https://www.linkedin.com/in/nitin-piparava-9558852a/"
                class="text-white"
                target="_blank"
              >
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            <div class="d-none d-md-block">
              <a
                href="https://twitter.com/Ndpiparava"
                class="text-white"
                target="_blank"
              >
                <i class="fab fa-twitter fa-2x"></i>
              </a>
            </div>
            <div class="px-1">
              <a
                href="https://github.com/ndpiparava"
                class="text-white"
                target="_blank"
              >
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Experienced column -->
        <div class="bg-black p-4">
          Expereinced Mobile and Web Developer
        </div>

        <!-- Page Navigation Column -->

        <div>
          <div
            class="d-flex flex-row text-white align-items-stretch text-center"
          >
            <div
              class="port-item bg-info p-4"
              data-toggle="collapse"
              routerLink="/home"
            >
              <i class="fas fa-home fa-2x d-block"></i>
              <span class="d-none d-sm-block">Home</span>
            </div>
            <div
              class="port-item p-4 bg-success"
              data-toggle="collapse"
              routerLink="/resume"
            >
              <i class="fas fa-graduation-cap fa-2x d-block"></i>
              <span class="d-none d-sm-block">Resume</span>
            </div>
            <div
              class="port-item p-4 bg-warning"
              data-toggle="collapse"
              routerLink="/work"
            >
              <i class="fas fa-folder-open fa-2x d-block"></i>
              <span class="d-none d-sm-block">Work</span>
            </div>
            <div
              class=" port-item p-4 bg-danger"
              data-toggle="collapse"
              routerLink="/contact"
            >
              <i class="fas fa-envelope fa-2x d-block"></i>
              <span class="d-none d-sm-block">Contact</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
