/* Tooltip text */
.clipboard .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  margin-left: 12px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.clipboard:hover .tooltiptext {
  visibility: visible;
}
