<!-- CONTACT -->
<div id="contact">
  <!-- <div class="card card-body bg-danger text-white py-5">
    <h3>Contact</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit,
      deserunt?
    </p>
  </div> -->

  <div class="card card-body py-md-5 bg-danger text-white rounded-0">
    <h4 class="card-title">Contact Me</h4>
    <div class="card bg-danger border-0">
      <div class="card-body p-0">
        <div class="m-md-3" id="phonenumber_email">
          <app-phonenumber
            [elementDisplayString]="'Email :'"
            [Email]="'ndpiparava@gmail.com'"
          ></app-phonenumber>
        </div>
        <div class="m-md-3" id="phonenumber_email">
          <app-phonenumber
            [elementDisplayString]="'Call :'"
            [PhoneNumber]="'+91 9916043210'"
          ></app-phonenumber>
        </div>
        <div class="m-md-3" id="phonenumber_email">
          <app-phonenumber
            [elementDisplayString]="'Aleternate Cell'"
            [PhoneNumber]="'+91 6362294410'"
          ></app-phonenumber>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-right align-items-left m-md-4">
      <div *ngFor="let socialProfile of socialProfiles">
        <div class="p-2">
          <a
            [href]="socialProfile.profileLink"
            class="text-white"
            target="_blank"
          >
            <i class="fab {{ socialProfile.profileBrandImg }} fa-2x"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- <form action="">
      <div class="form">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-user"> </i>
              </span>
            </div>
            <input
              type="text"
              class="form-control bg-dark text-white"
              placeholder="Name"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-envelope"> </i>
              </span>
            </div>
            <input
              type="text"
              class="form-control bg-dark text-white"
              placeholder="Email"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
            <textarea
              class="form-control bg-dark text-white"
              placeholder="Name"
            ></textarea>
          </div>
        </div>
      </div>
      <input
        type="submit"
        value="Send"
        class="btn btn-danger btn-block btn-lg"
        (click)="onSendMail()"
      />
    </form> -->
  </div>
</div>
