.contact-email,
.contact-call {
  font-size: 17px;
}

p,
div,
h1,
a {
  font-family: "geomanistregular", Helvetica, sans-serif;
  letter-spacing: 0.84px;
}

p {
  font-size: 21px;
}

.bg-danger {
  background-color: #e34655 !important;
}

@media (max-width: 420px) {
  #contact-email a,
  #contact-aleternatecall a,
  #conatct-call a {
    font-size: 13px;
    margin: 1px !important;
  }
}
