<!-- CONTACT -->
<div id="contact">
  <!-- <div class="card card-body bg-danger text-white py-5">
    <h3>Contact</h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit,
      deserunt?
    </p>
  </div> -->

  <div class="card card-body py-md-5 bg-danger text-white">
    <h4 class="card-title">Contact Me</h4>
    <div class="card bg-danger border-0">
      <div class="card-body ">
        <div class="m-md-3" id="contact-email">
          <a
            href="mailto:ndpiparava@gmail.com"
            target="_blank"
            class="contact-email btn  text-white  bg-dark p-2"
            ><i class="fas fa-envelope"> </i>
            <strong>Email : ndpiparava@gmail.com</strong>
          </a>
        </div>
        <div class="m-md-3" id="conatct-call">
          <a
            href="tel:+91 9916043210"
            target="_blank"
            class="contact-call btn text-white  bg-dark p-2"
            ><i class="fas fa-phone"> </i>
            <strong>Call : +91 9916043210</strong>
          </a>
        </div>
        <div class="m-md-3" id="contact-aleternatecall">
          <a
            href="tel:+91 6362294410"
            target="_blank"
            class="contact-call btn text-white  bg-dark p-2"
            ><i class="fas fa-phone"> </i>
            <strong>Aleternate Cell : +91 9916043210</strong>
          </a>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row justify-content-right align-items-left m-md-4">
      <div class="p-2">
        <a
          href="https://www.linkedin.com/in/nitin-piparava-9558852a/"
          class="text-white"
          target="_blank"
        >
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
      </div>
      <div class=" p-2">
        <a
          href="https://twitter.com/Ndpiparava"
          class="text-white"
          target="_blank"
        >
          <i class="fab fa-twitter fa-2x"></i>
        </a>
      </div>
      <div class="p-2">
        <a
          href="https://github.com/ndpiparava"
          class="text-white"
          target="_blank"
        >
          <i class="fab fa-github fa-2x"></i>
        </a>
      </div>
    </div>
    <!-- <form action="">
      <div class="form">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-user"> </i>
              </span>
            </div>
            <input
              type="text"
              class="form-control bg-dark text-white"
              placeholder="Name"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-envelope"> </i>
              </span>
            </div>
            <input
              type="text"
              class="form-control bg-dark text-white"
              placeholder="Email"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="input-group input-group-lg">
            <div class="input-group-prepend">
              <span class="input-group-text bg-danger text-white">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </div>
            <textarea
              class="form-control bg-dark text-white"
              placeholder="Name"
            ></textarea>
          </div>
        </div>
      </div>
      <input
        type="submit"
        value="Send"
        class="btn btn-danger btn-block btn-lg"
        (click)="onSendMail()"
      />
    </form> -->
  </div>
</div>
