<!-- Work -->
<div id="work">
  <div class="card card-body  text-white py-5">
    <h3>My Work</h3>
    <p>
      I've been designing and developing mobile software (iOS) since 2011 and
      have a wide breadth of expertise across the entire product lifecycle;
      product design, software architecture and security architecture,
      development and testing, release and app submission process, as well as
      DevOps: continuous-integration, build management, and branching model best
      practices in version control (Git, SVN, TFS). <br /><br />
      I have been also part of webdevelopment(angular) to develop fully
      responsive web application.
    </p>
  </div>
  <div class="bg-light text-dark py-5 px-3">
    <h2>What I have Built?</h2>
    <p>
      I have build various mobile apps in different domains like
      EHR(Healthcare), POS(Point of sale) and Voip.
    </p>
  </div>
  <div class="row no-gutters project-item">
    <div class="col-md-3">
      <a
        href="https://apps.apple.com/us/app/uc-one-connect/id1067459716"
        data-toggle="lightbox"
        target="_blank"
      >
        <img src="../../assets/img/work/Connect.png" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="col-md-3 project-item">
      <a
        href="https://apps.apple.com/us/app/sunrise-mobile-md-ii-for-ipad/id457564027"
        data-toggle="lightbox"
        target="_blank"
      >
        <img
          src="../../assets/img/work/sunriseMD.png"
          alt=""
          class="img-fluid"
        />
      </a>
    </div>
    <div class="col-md-3 project-item">
      <a
        href="https://itunes.apple.com/us/app/nusale/id522080587?mt=8 "
        data-toggle="lightbox"
        target="_blank"
      >
        <img src="../../assets/img/work/Nusale.png" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="col-md-3 project-item">
      <a
        href="https://apps.apple.com/in/app/cookbook-cuisine/id467334906"
        data-toggle="lightbox"
        target="_blank"
      >
        <img src="../../assets/img/work/recipe.png" alt="" class="img-fluid" />
      </a>
    </div>
  </div>
</div>
