<!-- Resume -->
<div id="resume">
  <div class="card card-body bg-success text-white py-5 rounded-0">
    <h2>My Resume</h2>
    <p>
      Resume can be downloaded from bottom of the page. Below details on
      employers and work history
    </p>
  </div>
  <div class="card py-5 card-body">
    <h3>Where Have I Worked?</h3>
    <p>
      I am currently with <strong>Cisco Systems</strong> as consulting engineer.
      Please download the resume for more details.
    </p>
    <div class="card-deck ">
      <div class="row no-gutters">
        <div class="col-md-4" *ngFor="let workHistory of workHistoryDetails">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">{{ workHistory.employer }}</h4>
              <p class="cart-text">
                {{ workHistory.shortDescription }}
              </p>
              <div class="card p-2 mb-3 bg-light text-muted text-center">
                {{ workHistory.position }}
              </div>
              <div id="ReferenceContact" class="card  m-0 p-1 bg-light">
                <div class="card-title pt-1 bg-light text-muted text-center">
                  {{ workHistory.referenceDetail.contactPerson }}
                </div>
                <a
                  href="tel:{{ workHistory.referenceDetail.cellNumber }}"
                  target="_blank"
                  class="contact-call btn"
                  ><i class="fas fa-phone fa-1.5x"> </i>
                  <strong>
                    Cell : {{ workHistory.referenceDetail.cellNumber }}</strong
                  >
                </a>
              </div>
            </div>
            <div class="card-footer bg-success">
              <h6 class="text-white">{{ workHistory.workPeriod }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
