<!-- Resume -->
<div id="resume">
  <div class="card card-body bg-success text-white py-5">
    <h2>My Resume</h2>
    <p>
      Resume can be downloaded from bottom of the page. Below details on
      employers and work history
    </p>
  </div>
  <div class="card py-5 card-body">
    <h3>Where Have I Worked?</h3>
    <p>
      I am currently with <strong>Cisco Systems</strong> as consulting engineer.
      Please download the resume for more details.
    </p>
    <div class="card-deck">
      <div class="row no-gutters">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Cisco Systems</h4>
              <p class="cart-text">
                I am currently with Cisco Systems as consulting engineer.
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                Consulting Engineer
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                Phone: 9916043210
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Since : 2017</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">BroadSoft</h4>
              <p class="cart-text">
                Worked as Senior Software engineer as part of mobile app
                development team.
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                Senior Software Engineer
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                Phone: 9916043210
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Dates:2015 - 2017</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">AllScripts</h4>
              <p class="cart-text">
                Worked as Software engineer and contributed in helathcare mobile
                app.
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                SoftWare Engineer
              </p>
              <p class="p-2 nb-3 bg-dark text-white">
                Phone: 9916043210
              </p>
            </div>
            <div class="card-footer">
              <h6 class="text-muted">Dates:2013 - 2015</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
