<!-- Home Page -->

<div id="home">
  <div class="card card-body py-5 bg-info text-light rounded-0">
    <h1 class="mb-4 bg-info d-none d-md-block">Welcome To My Page</h1>
    <p class="bg-info">
      I am currently a Software Engineer for mobile software development and web
      development team. <br /><br />
      I've been designing and developing mobile software (iOS) since 2011 and
      have a wide breadth of expertise across the entire product lifecycle;
      product design, software architecture and security architecture,
      development and testing, release and app submission process, as well as
      DevOps: continuous-integration, build management, and branching model best
      practices in version control (Git, SVN, TFS).
    </p>
  </div>

  <div class="skills">
    <h3 class="py-3">My Skills</h3>
    <p class="bg-white">
      Experienced in Mobile and Web Development(Angular).
    </p>
    <hr />
    <div *ngFor="let skill of mySkills">
      <h5>{{ skill.skill }}</h5>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-info"
          [ngStyle]="{ width: skill.expertise + '%' }"
        ></div>
      </div>
    </div>
  </div>
</div>
