<!-- Home Page -->

<div id="home">
  <div class="card card-body py-5 bg-info text-light rounded-0">
    <h1 class="mb-4 bg-info d-none d-md-block">Welcome To My Page</h1>
    <p class="bg-info">
      I've been designing and developing mobile software (iOS) since 2011 and have a wide breadth of expertise across the entire product lifecycle;
      product design, software architecture, development and testing, release and app submission process.  <br /><br />
      Having Strong experienced iOS application development and strong knowledge of VIPER, MVVM, MVP architectural application designs and TDD(Writing Unit tests).
      My areas of functional expertise ranges from e-commerce, healthcare and VOIP, Payment domain.
      <br /><br />
      I have been working with agile development enviornment and handling continuous-integration, build management, appcenter, Jenkins, Fastlane and branching model best
      practices in version control (Git, SVN). 
      <br /><br />
      I have always loved to work on challenging projects and have contributed to overall growth of the organisation.<br /><br />
      I enjoy traveling, talking about the future of mobile applications, payments, e-commerce and improve a product for emerging markets, feel free to contact me: ndpiparava@gmail.com
      <br /><br />
      Please find my resume attached at bottom of this page.
    </p>
  </div>

  <div class="skills p-3 bg-light">
    <h3 class="py-3">My Skills</h3>
    <p class="bg-light">
      Experienced in iOS and Mobile Application Development(Swift, React-Native, Objective-C)
    </p>
    <hr />
    <div *ngFor="let skill of mySkills">
      <h5>{{ skill.skill }}</h5>
      <div class="progress mb-3">
        <div
          class="progress-bar bg-info"
          [ngStyle]="{ width: skill.expertise + '%' }"
        ></div>
      </div>
    </div>
  </div>
</div>
